#coffee{
    height: 100%;
    width: 50%;
    float: left;
    
}
label{
    font-weight: 200;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lavender;
}
#kwitter{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: rgb(209, 255, 209);

}
body{
    background-image: url(doodle.jpg);
    
    
}
h3{
    color: blueviolet;
    background-color: lightcyan;
}
h4{
    background-color: lightpink;
}



